@import url("https://fonts.googleapis.com/css?family=Lato|Work+Sans");
.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.App {
  font-family: 'Lato', sans-serif;
  padding: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%; }

option, input, button, .panel, div {
  font-family: 'Lato', sans-serif; }

html {
  margin: 0;
  padding: 0;
  background: white; }

.center-text {
  display: flex;
  justify-content: center;
  align-items: center; }

.panel-block {
  color: black;
  background-color: white; }

.is-active {
  background-color: lightgoldenrodyellow; }

.panel-heading {
  color: white;
  background-color: #007070; }

.heading {
  color: #007070; }

.primary-color {
  color: #007070; }
